<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <%- include ('./partials/nav.ejs') %>

    <ul>

        <% for( var i = 0; i < SavedUser.length; i++ ) { %>
        <li>
            <p style="font-size: 3rem;">name: <%= SavedUser[i].firstname %>  <%= SavedUser[i].lastname %></p>
            <p> Email: <%= SavedUser[i].email %> </p>
            <p> Tel: <%= SavedUser[i].tell %></p>
            <p> Message: <%=SavedUser[i].message %></p>
        </li>

        <% } %>

    </ul>
</body>
</html>
<style>
    li{
        color: black;
    }
</style>